body {
  background-color: #F4F4F9;
}

.deleteButton {
  font-size: 30px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.deleteButton:hover {
  cursor: pointer;
  color: red;
}

.addButton {
  font-size: 35px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.addButton:hover {
  cursor: pointer;
  color: #04E762;
}

.newInput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #04E762;
  border-radius: 10px;
  margin-top: 5px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}

.balButton {
  font-size: 55px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.balButton:hover {
  cursor: pointer;
  color: #04E762;
}

.inputBal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #04E762;
  border-radius: 10px;
  margin-top: 5px;
}

.balance-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 55px;
}

.container {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.balance,
.remaining {
  text-align: center;
  font-weight: 700;
  background-color: rgb(233, 233, 233);
  border-radius: 25px;
}

.bill {
  text-decoration: underline #04E762;
  border-radius: 25px;
}